@import url('https://fonts.googleapis.com/css2?family=Ewert&family=Podkova:wght@500&family=Rubik&display=swap');

/* font-family: 'Ewert', cursive;
font-family: 'Podkova', serif;
font-family: 'Rubik', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #020101;
  font-family: 'Rubik', sans-serif;
}

header::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #C6110C;
  border-bottom: 20px solid #C6110C;
  border-left: 40px solid transparent;
}

header::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #C6110C;
  border-bottom: 20px solid #C6110C;
  border-right: 40px solid transparent;
}

h1 {
  color: #E5E5E5;
  font-family: 'Ewert', cursive;
  font-size: 4em;
}

nav {
  background-color: #C6110C;
  font-family: 'Podkova', serif;
}

.nav-link {
  color: #E5E5E5;
  border-radius: 0;
}

.nav-link:hover {
  color: #020101;
  background-color: #E5E5E5;
}

#carouselPromo {
  width: 95vw;
}

h2 {
  font-family: 'Ewert', cursive;
  color: #E5E5E5;
  font-size: 3em;
}

.card {
  border: 2px solid #FCA311;
}

.card.uno, .card.dos {
  border-right: 1px dashed #FCA311;
}

.card-header {
  background-color: #C6110C;
  color: #E5E5E5;
  font-family: 'Podkova', serif;
}

.card-footer {
  background-color: #E5E5E5;
}

.card, .card-footer {
  color: #020101;
}

.historia, .novedades {
  color: #E5E5E5;
}

.historia img {
  float: right;
  border-radius: 5px;
}

.novedades img {
  float: left;
  border-radius: 5px;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.novedades a {
  color: #C6110C;
  text-decoration: none;
}

.fecha {
  opacity: 0.75;
}

.direcciones p {
  color: #E5E5E5;
}

form {	
	width: 35%;
  border-radius: 10px;
  background-color: #C6110C;
}

input {
	background-color: #ffffff;
	width: 97%;
	height: 40px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1.5px;
	border-color: #020101;
	margin-top: 10px;
	padding-left: 0.5rem;
  margin-bottom: 20px;
}

textarea {
  background-color: #ffffff;
	width: 97%;
	height: 150px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1.5px;
	border-color: #020101;
	margin-top: 10px;
	padding-left: 0.5rem;
  margin-bottom: 20px;
  padding-top: 0.5rem;
}

label{
  display: block;
	float: center;
}

button {
	height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-transform: uppercase;
  color: #E5E5E5;
	background-color: #020101;
	border-color: #020101;
	border-style: solid;
	border-radius: 10px;
	width: 97%;
  cursor: pointer;
}

span {
	color: #E5E5E5;
}

.aviso{
	font-size: 13px;  
	color: #020101;  
}

footer {
  background-color: #C6110C;
  color: #ffffff;
  clear: left;
}

footer a {
  color: #ffffff;
}